/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  img {
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

/* COMMON */
/* Layout */
.container {
    width: 100%;
}

/* Utilities */
.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

/* HEADER */
header .container {
    text-align: center;
}
.header-title {
    font-family: "Nerko One", cursive;
    color: #ff9614;
}

/* MAIN */
main {
    background-color: #f6f5f3;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }

/* title */
.main-title h4 {
    color: #99a5bf;
    font-size: 0.7rem;
}

.main-title h1 {
    color: #4e3969;
}

.main-title span {
    display: none;
}

/* video card */
.card-video .container {
    box-shadow: 0 1px 1px  #99a5bf;
}

iframe {
    width: 100%;
    height: 20rem;
}

.col-video,
.col-text {
    width: 100%;
}
.col-text {
    padding: 20px
}
.col-text h3 {
    padding-bottom: 25px;
    padding-top: 25px;
}

.col-text li {
    padding-bottom: 10px;
    font-size: 0.7rem;
}

/* social */
.social .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social .bnt {
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 1px  #99a5bf;
}

.fa-facebook {
    color: #1a77f3;
}

.fa-twitter {
    color: #009eff;
}

.fa-instagram {
    color: #de3d78;
}

.fa-pinterest {
    color: #e62222;
}

.fa-youtube {
    color: #e62222;
}

.social span {
    display: none;
}

/* banner */
.banner {
    display: none;
}

/* presentation */
.presentation .container {
    padding-bottom: 20px;
}

.presentation hr {
    width: 70px;
    color: #ff9614;
    border: 0.5px solid;
}

.presentation img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.presentation p {
    line-height: 1.5rem;
    padding-top: 10px;
}

/* FOOTER */
footer {
    background-color: #7c69a4;
}

footer .container {
    margin: 0 auto;
    color: antiquewhite;
    padding: 10px;
    text-align: center;
    font-size: 0.7rem;
}

footer p {
    padding-top: 5px;
}

.link-list {
    padding: 10px;
}

.link-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: underline;
}

.link-list li {
    width: calc(90% / 4);
    padding-top: 10px;
}



/* **************** */
/**** RESPONSIVE ****/
/* **************** */

/* Mobile First */

/* 768px */
@media screen and (min-width: 768px) {

    /* header */
    header .container {
        text-align: left;
    }

    /* main */
    /* title */
    .main-title span {
        display: inline-block;
    }

    .main-title {
        font-size: 1rem;
    }

    .main-title h4 {
        font-size: 0.7rem;
    }


    /* video card */
    .col-text ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .col-text li {
        width: calc(100% / 3);
        font-size: 0.7rem;
    }

    /* social */
    .social .container {
        display: flex;
        justify-content: space-around;
        row-gap: 20px;
    }

    .social .bnt {
        border-radius: 20px;
        width: calc(90% / 5);
        text-align: center;
    }

    .social span {
        display: none;
    }

    /* banner */
    .banner {
        display: block;
    }

    /* presentation */
    .presentation img {
        float: left;
        width: 30%;
        padding-right: 10px;
    }

    .presentation p {
        padding-top: 0;
    }

    /* footer */
    footer .container {
        width: 55%;
    }

    .link-list ul {
        flex-wrap: nowrap;
    }

}


/* 992px */
@media screen and (min-width: 992px) {

    /* header */
    header .container {
        width: 100%;
    }

    .header-title {
        padding-left: 0.5rem;
    }

    /* main */
    main .main-title,
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .main-title {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    /* video card */
    .col-video {
        width: 70%;
    }

    .col-text {
        width: 30%;
    }

    .col-text ul {
        row-gap: 3px;
    }

    .col-text li {
        width: 100%;
    }

    /* social */
    .social .bnt {
        text-align: left;
    }

    .social span {
        display: inline-block;
    }

    /* footer */
    footer .container {
        width: 100%;
        display: flex;
    }

    .contatti {
        width: 50%;
        text-align: left;
    }

    .link-list {
        width: 50%;
        text-align: right;
    }

}