/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    list-style: none;
  }

/* COMMON */
/* Layout */
.container {
    width: 100%;
    padding: 10px;

    /* debug*/
    border: 1px solid black;

}

/* Utilities */

/* debug */
.mb-20 {
    margin-bottom: 20px;
}

/* HEADER */
header .container {
    text-align: center;
}
.header-title {
    font-family: "Nerko One", cursive;
    color: #ff9614;
}

/* MAIN */
main {
    background-color: #f6f5f3;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }

/* title */
.main-title h4 {
    color: #99a5bf;
    font-size: 0.7rem;
}

.main-title h1 {
    color: #4e3969;
}

.main-title span {
    display: none;
}

/* video card */
.card-video {
    box-shadow: 0 1px 1px  #99a5bf;
}

.col-video {
    aspect-ratio: 2;
}

.col-video,
.col-text {
    width: 100%;
}
.col-text {
    padding: 10px
}
.col-text h3 {
    padding-bottom: 25px;
    padding-top: 25px;
}

.col-text li {
    padding-bottom: 10px;
    font-size: 0.7rem;
}

/* social */
.social .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* debug */
    min-height: 50px;
}

.social .bnt {
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 1px  #99a5bf;
}

.fa-facebook {
    color: #1a77f3;
}

.fa-twitter {
    color: #009eff;
}

.fa-instagram {
    color: #de3d78;
}

.fa-pinterest {
    color: #e62222;
}

.fa-youtube {
    color: #e62222;
}

.social span {
    display: none;
}

/* presentation */
.presentation .container {

    /* debug */
    min-height: 600px;
}

/* FOOTER */
footer {
    background-color: #7c69a4;

    /* debug */
    min-height: 100px;
}



/* **************** */
/**** RESPONSIVE ****/
/* **************** */

/* Mobile First */

/* 768px */
@media screen and (min-width: 768px) {

    /* header */
    header .container {
        text-align: left;
    }
    
    /* main */
    /* title */
    .main-title span {
        display: inline-block;
    }
    
    .main-title {
        font-size: 1rem;
    }

    .main-title h4 {
        font-size: 0.7rem;
    }


    /* video card */
    .col-text ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .col-text li {
        width: calc(100% / 3);
        font-size: 0.7rem;
    }

    /* social */
    .social {
        display: flex;
        justify-content: space-around;
        row-gap: 20px;
    }

    .social .bnt {
        border-radius: 20px;
        width: calc(90% / 5);
        text-align: center;
    }

    .social span {
        display: none;
    }


}


/* 992px */
@media screen and (min-width: 992px) {

    /* header */
    header .container {
        width: 100%;
    }

    /* main */
    main .main-title, 
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .main-title {
        font-size: 1.5rem;
    }

    /* video card */
    .col-video {
        width: 70%;
    }

    .col-text {
        width: 30%;
    }

    .col-text ul {
        row-gap: 3px;
    }

    .col-text li {
        width: 100%;
    }

    /* social */
    .social .bnt {
        text-align: left;
    }
    
    .social span {
        display: inline-block;
    }

}